* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    font-family: sans-serif;
}

body {
    
    background-image: url(../img/dmitry-grigoriev-yxXpjF-RrnA-unsplash.jpg);
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    background-position: relative;
    
}