@import "variables";
@import "map";
@import "boton";

.formulario {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    max-width: 500px;
    margin: auto;
    padding: 35px 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 5px;

}

.packaging {
    width: 100%;
    max-width: 25rem;
}

label {
    display: block;
    color: #D9CAB3;
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
}

input {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #D9CAB3;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #D9CAB3;
    font-family: sans-serif;
    
}

select {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #D9CAB3;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
}