#navbarNav ul {
    display: flex;
  
    li {
      list-style: none;
  
      a {
        position: relative;
        display: block;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 10px 20px;
        text-decoration: none;
        color: $colorPrincipal;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        transition: .5s;
        z-index: 1;
  
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 2px solid #262626;
          border-bottom: 2px solid #262626;
          transform: scaleY(2);
          opacity: 0;
          transition: .3s;
        }
  
        &:after {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #262626;
          transform: scale(0);
          opacity: 0;
          transition: .3s;
          z-index: -1;
        }
  
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
          border-radius: 2rem;
  
          &:before, &:after {
            transform: scaleY(1);
            opacity: 1;
          }
        }
      }
    }
  }


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: .625rem 1.625rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #fff;

  img {
    width: 6.25rem;
    padding: .625rem .625rem;
    height: 5rem;
  }
}