@import "boton";

.mapa {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    max-width: 31.25rem;
    margin: auto;
    padding: 2.188rem 2.188rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
    border-radius: 5px;
} 

.lugar {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: 3.7rem;
}