@import "variables";

.main__videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

@mixin videos {
    width: 100%;
    max-width: 500px;
    margin: auto;
    border: solid 7px $colorSecundario;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.videoUno {
    @include videos;
}

.videoDos{
    @include videos;
}

